.container {
  padding: 5px;
  margin: 8px;
  /* display: flex; */
  position: absolute;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(17, 30, 223);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(17, 30, 223);
}
hr {
  min-width: 10px;
  /* height: 200px; */
}
