.container {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 40%;
  transform: translate(0, -50%);
  position: absolute;
  outline: 1px solid black;
}

span {
  display: flex;
  flex-direction: row;
}
button {
  border-radius: 20px;
  background-color: rgb(17, 30, 223);
  color: white;
  margin: 5px;
  padding: 12px;
  outline: none;
  position: relative;
  align-items: center;
  border: 0;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(17, 30, 223);
  outline: 1px solid black;
}
