.container {
  padding: 5px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 38%;
  transform: translate(0, -50%);
  /* align-items: flex-start; */
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(17, 30, 223);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(17, 30, 223);
}
hr {
  min-width: 10px;
}
input {
  width: 300px;
  height: 30px;
  outline: none;
  border-radius: 50px;
}
button {
  display: flex;
  border-radius: 50px;
  background-color: rgb(17, 30, 223);
  color: white;
  margin-top: 10px;
  padding: 12px;
  outline: none;
  border: 0;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(17, 30, 223);
  outline: 1px solid black;
}

@media only screen and (max-width: 576px) {
  .container {
    font-size: 12px;
    top: 80%;
    padding: 1rem;
    margin-right: 1rem;
    right: 9rem;
  }
  h1 {
    font-size: 14x;
  }
  h4 {
    display: flex;
    align-items: flex-start;
    right: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    font-size: 16px;
    top: 45%;
    padding: 1rem;
    margin-right: 10rem;
    right: 9rem;
  }
  h1 {
    font-size: 14px;
  }
  h4 {
    display: flex;
    align-items: flex-start;
    right: 10rem;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    font-size: 20px;
    top: 50%;
    padding: 1rem;
    margin-right: 13rem;
    right: 9rem;
  }
  h1 {
    font-size: 16px;
  }
  h4 {
    display: flex;
    align-items: flex-start;
    right: 10rem;
  }
}
