.container {
  padding-left: 10px;
  margin-right: 10px;
}

h1 {
  padding: 6px;
  margin-top: 3px;
  color: rgb(17, 30, 223);
}

h1:hover {
  cursor: pointer;
  color: rgb(117, 118, 112);
}
h4 {
  font-weight: bold;
  font-size: 18px;
}
h4:hover {
  cursor: pointer;
}
button {
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(17, 30, 223);
  color: white;
  padding: 12px;
  outline: none;
  border: 0;
  margin: 4px;
}
button:hover {
  background-color: white;
  color: rgb(17, 30, 223);
  outline: 1px solid black;
}
